<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$title$</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/site.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container nav-container">
        <a class="navbar-brand"href="/">
          <img class="logo" src="/img/cropped-hendleyhardgoods_header_21.png" />
        </a>
        <div class="pull-right">
          <ul class="nav navbar-nav navbar-right list-inline">
            <li>
              <a href="/story">
                <span>story</span>
              </a>
            </li>
            <li>
            <a href="/past-work">
                <span>stock</span>
              </a>
            </li>
            <li>
              <a href="/connect">
                <span>connect</span>
              </a>
            </li>
            <li>
              <a href="/shop">
                <span>shop</span>
              </a>
            </li>
            <li>
              <a href="/news">
                <span>news</span>
              </a>
            </li>
            <li>
              <a href="/wear-and-care">
                <span>care</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container content-container">
      <div class="row">
        <div class="content col-md-12 center-block">
          $body$
        </div>
      </div>
      <div class="row footer">
        <div class="content col-md-12">
      </div>
    </div>
  </body>
</html>
